/* === ПОПАПЫ ТОЛЬКО === */

/* Показ попапов через :target */
.pop-exit:target,
.pop-new-card:target,
.pop-browse:target {
  display: block;
}

/* === ПОПАП: ПОЛЬЗОВАТЕЛЬ === */
.header__pop-user-set {
  position: absolute;
  top: 61px;
  right: 0;
  width: 213px;
  height: 205px;
  border-radius: 10px;
  border: 0.7px solid rgba(148, 166, 190, 0.4);
  background: #FFF;
  box-shadow: 0px 10px 39px 0px rgba(26, 56, 101, 0.21);
  padding: 34px;
  text-align: center;
  z-index: 2;
}

.pop-user-set__name {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.14px;
  margin-bottom: 4px;
}

.pop-user-set__mail {
  color: #94A6BE;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.14px;
  margin-bottom: 10px;
}

.pop-user-set__theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.pop-user-set__theme p {
  color: #000;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.14px;
}

.pop-user-set__theme input[type="checkbox"] {
  position: relative;
  width: 24px;
  height: 13px;
  border-radius: 100px;
  background: #EAEEF6;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

.pop-user-set__theme input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #94A6BE;
  transition: 0.5s;
}

.pop-user-set__theme input:checked[type="checkbox"]::before {
  left: 12px;
}

.pop-user-set button {
  width: 72px;
  height: 30px;
  background: transparent;
  color: #565EEF;
  border-radius: 4px;
  border: 1px solid #565EEF;
}

.pop-user-set button a {
  color: #565EEF;
}


/* === ПОПАП: ВЫХОД === */
.pop-exit {
  display: none;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.pop-exit__container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
}

.pop-exit__block {
  max-width: 370px;
  width: 100%;
  padding: 50px 60px;
  border-radius: 10px;
  border: 0.7px solid #D4DBE5;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background-color: #FFFFFF;
}

.pop-exit__ttl h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.4px;
  margin-bottom: 20px;
}

.pop-exit__exit-yes {
  width: 153px;
  height: 30px;
  background-color: #565EEF;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  margin-right: 10px;
}

.pop-exit__exit-yes a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.pop-exit__exit-no {
  width: 153px;
  height: 30px;
  background-color: transparent;
  border-radius: 4px;
  border: 0.7px solid #565EEF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}

.pop-exit__exit-no a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #565EEF;
}

.pop-exit__form-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* === ПОПАП: СОЗДАНИЕ КАРТОЧКИ === */
.pop-new-card {
  display: none;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
}

.pop-new-card__container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
}

.pop-new-card__block {
  max-width: 630px;
  width: 100%;
  padding: 40px 30px 48px;
  border-radius: 10px;
  border: 0.7px solid #D4DBE5;
  background-color: #FFFFFF;
  position: relative;
}

.pop-new-card__ttl {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 20px;
}

.pop-new-card__close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #94A6BE;
  cursor: pointer;
}

.pop-new-card__close:hover {
  color: #000;
}

/* === ПОПАП: ПРОСМОТР/РЕДАКТИРОВАНИЕ === */
.pop-browse {
  display: none;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
}

.pop-browse__container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
}

.pop-browse__block {
  max-width: 630px;
  width: 100%;
  padding: 40px 30px 38px;
  border-radius: 10px;
  border: 0.7px solid #D4DBE5;
  background-color: #FFFFFF;
  position: relative;
}

.pop-browse__ttl {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 18px;
}

.pop-browse__close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #94A6BE;
  cursor: pointer;
}

.pop-browse__close:hover {
  color: #000;
}

/* === ТЕМЫ и СТАТУСЫ (цвета) === */
._orange {
  background-color: #FFE4C2;
  color: #FF6D00;
}

._green {
  background-color: #B4FDD1;
  color: #06B16E;
}

._purple {
  background-color: #E9D4FF;
  color: #9A48F1;
}

._gray {
  background: #94A6BE;
  color: #FFFFFF;
}

/* === КНОПКИ === */
._btn-bor {
  border-radius: 4px;
  border: 0.7px solid #565EEF;
  background: transparent;
  color: #565EEF;
}

._btn-bg {
  border-radius: 4px;
  background: #565EEF;
  color: #FFFFFF;
}

/* === СКРЫТИЕ === */
._hide {
  display: none;
}

/* === МЕДИАЗАПРОСЫ (адаптив для попапов) === */
@media screen and (max-width: 660px) {
  .pop-new-card__container,
  .pop-browse__container {
    justify-content: flex-start;
    padding: 0;
  }

  .pop-new-card__block,
  .pop-browse__block {
    border-radius: 0;
  }

  .pop-new-card__wrap,
  .pop-browse__wrap {
    display: block;
  }

  .pop-new-card,
  .pop-browse {
    top: 70px;
  }
}

@media screen and (max-width: 495px) {
  .pop-new-card__block,
  .pop-browse__block {
    padding: 20px 16px 32px;
  }

  .pop-new-card__form,
  .pop-browse__form {
    max-width: 100%;
  }

  .form-new__area,
  .form-browse__area {
    max-width: 100%;
    height: 34px;
  }

  .form-new__create,
  .pop-browse__btn-edit button,
  .pop-browse__btn-browse button {
    width: 100%;
    height: 40px;
  }

  .pop-browse__content .theme-down {
    display: block;
    margin-bottom: 20px;
  }

  .pop-browse__content .theme-top {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .pop-exit__block {
    padding: 50px 20px;
  }

  .pop-exit__exit-yes,
  .pop-exit__exit-no {
    width: 100%;
    height: 40px;
  }

  .pop-exit__form-group {
    display: block;
  }
}
